#section-3 {
  margin: 50px 0;
}

.advice-section {
  padding: 30px;

  span {
    font-family: Roboto,sans-serif;
    font-size: 20px;
    color: #c5a28f
    
  }

  h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 20px;
    height: 48px;
    margin: 5px 0
  }

  p {
    @extend %paragraph;
    min-height: 130px;
  }

  a {
    font-family: OpenSans;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
  }

  .advice-border {
    margin-top: 2px;
    height: 2px;
    width: 50px;
    background-color: #c5a28f;
  }
}