#section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15)), url("../../src/img/mountains.jpeg");

  overflow: hidden;
}

#section-6 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15)), url("../../src/img/mountain-2.jpeg");

  overflow: hidden;
}

$header-height: 56px;

.card-section {
  background-size: cover;
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - $header-height);
}

.title-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 718px;
  min-height: 419px;
  border: 7px solid white;
  padding: 30px;
  color: white;
  background: transparent;
  box-shadow: 0 0 40px 4px rgb(26 26 26 / 40%);

  h1 {
    @extend %title-h1;
  }

  h2 {
    margin-top: 16px;
    font-size: 4.5rem;
    overflow: hidden;

    span {
      font-weight: 600;
    }
  }

  @media screen and (max-width: 711px) {
    h1 {
      font-size: 14px;
    }

    h2 {
      font-size: 3rem;
    }
}
}
