#section-4 {
  .row>* {
    padding-left: 0;
    padding-right: 0;
  }

  .nature-col {
    max-height: 470px;
  }

  .nature-col:nth-child(1) {
    @extend %flex-center;
  }

  .nature-title {
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    padding: 30px;
  }

  .nature-second-col {
    height: 494px;

    .row {
      height: 100%;
    }
  }

  .nature-third-col {
    height: 494px;
  }

  .nature-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center;
    height: 50%;

    h1 {
      font-size: 1.5rem;
      font-family: OpenSans, sans-serif;
      line-height: 1.3;
    }
  }

  .nature-svg {
    width: 64px;
    height: 50%;
    margin-bottom: 15px;
    object-fit: inherit;
  }
}
