@import "~bootstrap/scss/bootstrap";
@import "./nullstyle.scss";
@import "./section-1-6.scss";
@import "./section-2.scss";
@import "./section-3.scss";
@import "./section-4.scss";
@import "./section-5.scss";
@import "./section-7.scss";

$header-height: 56px;

@font-face {
  font-family: RobotoLight;
  src: url("../../public/font/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../../public/font/Roboto-Regular.ttf");
}

@font-face {
  font-family: PlayfairDisplay;
  src: url("../../public/font/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
  font-family: PlayfairDisplayItalic;
  src: url("../../public/font/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: OpenSans;
  src: url("../../public/font/OpenSans-VariableFont_wdth\,wght.ttf");
}

body {
  padding-top: $header-height;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
}

* {
  font-family: PlayfairDisplay, serif;
}

%paragraph {
  font-family: OpenSans;
  font-size: 16px;
  line-height: 1.8;
  color: #999999;
}

%title {
  font-family: Roboto;
  font-size: 1.125rem;
  line-height: 1.2;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
}

%title-h1 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  font-family: RobotoLight, sans-serif;
}

%title-h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

%link {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

%flex-center {
  display: flex;
  align-items: center;
}

.link-border {
  margin-top: 2px;
  height: 2px;
  width: 50px;
  background-color: #c5a28f;
}

.bg-color {
  background-color: #f9f5f2;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

@media screen and (max-width: 576px) {
  .picture-section {
    max-height: 494px;
  }

  #section-4 .nature-col:nth-child(1) {
    display: block;
  }

  .about-us img {
    height: 340px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .picture-section {
    max-height: 784px;
  }

  .about-us img {
    height: 540px;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  .picture-section {
    max-height: 552px;
  }

  #section-4 .nature-col {
    max-height: 225px;
  }

  #section-4 .nature-second-col {
    height: 600px;
  }

  .about-us__img-2 {
    height: 340px;
  }

  .about-us__img {
    height: 700px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .picture-section {
    min-height: 341px;
  }

  .about-us__info {
    height: 400px;
  }

  .about-us img {
    max-height: 300px;
  }
}

@media screen and (min-width: 1201px) {
  .about-us img {
    max-height: 340px;
  }

  .about-us__info {
    height: 400px;
  }
}
