@import "~bootstrap/scss/bootstrap";
@import "./nullstyle.scss";
@import "./title-card.scss";
@import "./advice-section.scss";
@import "./agency-info-section.scss";

@font-face {
  font-family: RobotoLight;
  src: url("../../public/font/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../../public/font/Roboto-Regular.ttf");
}

@font-face {
  font-family: PlayfairDisplay;
  src: url("../../public/font/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
  font-family: PlayfairDisplayItalic;
  src: url("../../public/font/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: OpenSans;
  src: url("../../public/font/OpenSans-VariableFont_wdth\,wght.ttf");
}

* {
  font-family: PlayfairDisplay, serif;
}

%paragraph {
  font-family: OpenSans;
  font-size: 16px;
  line-height: 1.8;
  color: #999999;
}

%flex-center {
  display: flex;
  align-items: center;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.bground {
  background-color: gray;
  border: 1px solid darkblue;
  padding: 100px;
}

.bg {
  display: block;
  background-color: midnightblue;
  border: 1px solid darkblue;
  padding: 100px;
}

#section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15)), url("../../src/img/mountains.jpeg");
  background-size: cover;
  padding: 40px;
  opacity: 1;
}

#section-6 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15)), url("../../src/img/mountain-2.jpeg");
  background-size: cover;
  padding: 40px;
}

.picture-section {
  height: 413px;
  padding-left: 0;
  padding-right: 0;
}



#section-4 {
  .row > * {
    padding-left: 0;
    padding-right: 0;
  }

  .nature-col {
    max-height: 470px;
  }

   .nature-col:nth-child(1) {
    @extend %flex-center;
  }

  .nature-title {
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    padding: 30px;
  }

  .nature-second-col {
    height: 494px;
  }

  .nature-third-col {
    height: 494px;
  }

  .nature-subtitle {
    padding: 30px;
    font-size: 1.5rem;
    font-family: OpenSans, sans-serif;
    text-align: center;
  }

  .nature-svg {
    width: 64px;
    height: 64px;
  }
}

@media screen and (max-width: 576px) {
  .picture-section {
    max-height: 494px;
  }

  #section-4 .nature-col:nth-child(1) {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .picture-section {
    max-height: 784px;
  }
}

@media screen and (max-width: 991px) {
  .picture-section {
    max-height: 552px;
  }

  #section-4 .nature-col {
    max-height: 225px;
  }

  #section-4 .nature-second-col {
    height: 600px;
  }
}

@media screen and (max-width: 1200px) {
  .picture-section {
    min-height: 341px;
  }
}

